application.wadl

<wadl:application xmlns:wadl="http://wadl.dev.java.net/2009/02" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <wadl:doc xmlns:enunciate="http://enunciate.codehaus.org/" enunciate:generatedBy="Enunciate-1.25"/>
  <wadl:grammars>
    <wadl:include href="ns0.xsd"/>
  </wadl:grammars>
  <wadl:resources base="http://localhost:8080/novaglobalapi">
    <wadl:resource path="/rest/user/register">
      <wadl:method name="POST">
        <wadl:doc>
          <![CDATA[Registers a User.

<ul>
<li>Status 200: Successful Registration.</li>
<li>Status 401: Error with the Request. Most likely caused by an invalid UserAccount.</li>
</ul>]]>
        </wadl:doc>
        <wadl:request>
          <wadl:doc>
            <![CDATA[User to Register]]>
          </wadl:doc>
          <wadl:representation mediaType="application/json"/>
        </wadl:request>
        <wadl:response>
          <wadl:doc>
            <![CDATA[Registered User]]>
          </wadl:doc>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/rest/user/find/{userName}">
      <wadl:param name="userName" style="template">
        <wadl:doc>
          <![CDATA[Username to serach for]]>
        </wadl:doc>
      </wadl:param>
      <wadl:method name="GET">
        <wadl:doc>
          <![CDATA[Gets the User Specified by the Given Username.

<ul>
<li>Status 200: User Found.</li>
<li>Status 404: User was not found.</li>
<li>Status 401: Error with the Request.</li>
</ul>]]>
        </wadl:doc>
        <wadl:request/>
        <wadl:response>
          <wadl:doc>
            <![CDATA[Found user]]>
          </wadl:doc>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
  </wadl:resources>
</wadl:application>
